<%- include("templates/header") %>
<head>
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <h1 class="text-center">Welcome to COMP 2537 Assignment 2</h1>
    <img src="/1.jpeg" class="img-responsive center-block" style="padding-top: 30px; padding-bottom: 50px;">
    <div class="text-center">
      <a class="btn btn-primary btn-lg" href="/signup" role="button" style="margin-bottom: 10px;">Sign up</a>
      <a class="btn btn-primary btn-lg" href="/login" role="button" style="margin-bottom: 10px;">Log in</a>
    </div>
  </div>
</body>
<%- include("templates/footer") %>