<%- include("templates/header") %>
<html>
<head>
  <title>Error</title>
</head>
<body>
  <div class="text-center">
    <h1><%= error %></h1>
    <a href="/signup" class="btn btn-primary btn-lg">Please try again</a>
  </div>
</body>
<%- include("templates/footer") %>