<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ... -->
    <style>
      html {
        height: 100%;
      }
      body {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0;
      }
      .content {
        flex: 1;
      }
      .custom-footer {
        font-size: 1.5rem;
      }
      .custom-padding {
        padding: 1.5rem;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <!-- Your main content goes here -->
    </div>

    <footer class="bg-light text-center text-lg-start custom-footer">
      <div
        class="text-center custom-padding"
        style="background-color: rgba(166, 166, 166, 0.2)"
      >
        © 2023 Copyright: <b>Yunsang Alex Chung - BCIT</b>
      </div>
    </footer>
  </body>
</html>